.answer {
  display: flex;
  min-width: 500px;
  width: 80%;
  height: 70px;
  margin: 10px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.answer:hover {
  transform: scale(1.1);
}

.content {
  position: relative;
  display: flex;
  flex: 1;
}

.front,
.back {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.back>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-radius: 20px;
}

.front {
  padding: 10px;
  align-items: center;
  background-color: #eee;
  color: #222;
}

.valor {
  font-size: 1.3rem;
  font-weight: bold;
}

.certa {
  background-color: #2baa6d;
}

.errada {
  background-color: #e44a4c;
}

.certa .valor,
.errada .valor {
  font-size: 1.25rem;
}

.letra {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  font-size: 1.3rem;
  font-weight: bold;
  margin-right: 15px;
}